body {
  background: green;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.header {
  height: 60px;
  background: #000;
  position: relative;
}
.header .logo {
  width: 128px;
  height: 36px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 12px 25px;
  float: left;
}
.header .nav {
  height: 100%;
  float: left;
}
.header .nav__item {
  display: block;
  float: left;
  padding: 0 25px;
  height: 60px;
  line-height: 60px;
  color: #fbfbfb;
  font-size: 14px;
}
.header .nav__item:hover {
  background: #363c41;
}
.header .nav__item_icon_new {
  background: #363c41;
}
.header .search {
  float: right;
  padding-right: 25px;
  position: relative;
  margin: 12px 25px;
  height: 36px;
  border: 2px solid red;
}
.header .search__input {
  width: 242px;
  border: none;
  outline: none;
  background-color: #000;
  border-bottom: 1px solid #ccc;
  height: 36px;
  line-height: 36px;
}
.header .search::before {
  content: "前端入门";
  width: 72px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #2b333b;
  display: block;
  color: #fbfbfb;
  left: 0px;
  top: 0px;
  position: absolute;
  font-size: 12px;
}
.header .search__submit {
  display: block;
  position: absolute;
  right: 25px;
  top: 4px;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-1-sprite_w22.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: 0 3px;
  overflow: hidden;
}
.header .profile {
  float: right;
}
.header .profile__item {
  display: block;
  float: left;
  width: 60px;
  height: 60px;
  position: relative;
  margin-right: 1px;
}
.header .profile__phone:before {
  content: "";
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-1-sprite_w22.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  left: 19px;
  top: 19px;
  background-position: 0 -20px;
}
.header .profile__message:before {
  content: "";
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-1-sprite_w22.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  left: 19px;
  top: 19px;
  background-position: 0 -42px;
}
.header .profile__email:before {
  content: "";
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-1-sprite_w22.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  left: 19px;
  top: 19px;
  background-position: 0 -66px;
}
.header .profile__ava {
  width: 36px;
  height: 36px;
  margin: 12px;
  background: #363c41;
  border-radius: 50%;
}
.banner {
  height: 560px;
  background-color: #6a6593;
  position: relative;
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner .caption {
  text-align: center;
  padding-top: 50px;
  font-size: 32px;
  color: #fbfbfb;
}
.banner .caption__text {
  display: inline-block;
}
.banner .caption img {
  vertical-align: middle;
}
.banner .tips {
  position: absolute;
  top: 208px;
  width: 602px;
  left: 50%;
  margin-left: -301px;
}
.banner .tips__item {
  position: relative;
  float: left;
  margin-right: 202px;
  text-align: center;
  width: 64px;
  height: 64px;
  background-image: url("../img/propaganda-h64.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner .tips__item_i_1 {
  background-position: 0 0;
}
.banner .tips__item_i_3 {
  background-position: -156px 0;
}
.banner .tips__title {
  width: 200%;
  position: absolute;
  margin-left: -50%;
  top: 74px;
  font-size: 22px;
  color: #ffcc33;
}
.banner .tips__text {
  width: 200%;
  position: absolute;
  margin-left: -50%;
  top: 106px;
  font-size: 14px;
  color: #fbfbfb;
}
.banner .tips__item:last-child {
  margin-right: 0px;
}
.recommend {
  height: 200px;
  background: #fff;
  position: relative;
}
.recommend .recommend-course {
  width: 285px;
  height: 342px;
  position: relative;
  top: -20px;
  box-shadow: 0 8px 16px rgba(7, 17, 27, 0.2);
  background: #fff;
  left: 50%;
  margin-left: -142.5px;
  background-image: url("../img/course-b-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: -180px;
}
.recommend .recommend-course:before {
  content: "";
  display: block;
  width: 98%;
  height: 3px;
  left: 1%;
  bottom: -5px;
  background: #fff;
  position: absolute;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(7, 17, 27, 0.2);
}
.recommend .recommend-course:after {
  content: "";
  display: block;
  width: 96%;
  height: 3px;
  left: 2%;
  bottom: -11px;
  background: #fff;
  position: absolute;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(7, 17, 27, 0.2);
}
.recommend .recommend-course__cover {
  width: 100%;
  height: 172px;
  overflow: hidden;
}
.recommend .recommend-course__cover img {
  width: 100%;
}
.recommend .recommend-course .caption {
  margin: 0;
  padding: 0 35px;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  color: #141914;
}
.recommend .recommend-course__plan {
  position: absolute;
  width: 100%;
  top: 135px;
  padding: 30px 0 20px 0;
  background-image: url("../img/course-b-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 1s;
}
.recommend .recommend-course__times {
  padding: 0 35px 8px 35px;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  color: #959aa0;
  padding-left: 35px;
}
.recommend .recommend-course__person {
  padding-left: 1em;
}
.recommend .recommend-course .desc {
  border-top: 1px solid #d9dde1;
  padding-top: 8px;
  margin: 0 35px;
  font-size: 12px;
  color: #959aa0;
}
.recommend .recommend-course__price {
  position: absolute;
  bottom: 0px;
  padding: 20px 35px;
  font-size: 12px;
  color: red;
  height: 30px;
  line-height: 30px;
}
.recommend .recommend-course__price i {
  font-style: normal;
  padding: 0 1px;
  vertical-align: super;
}
.recommend:hover .recommend-course__plan {
  top: 80px;
}
.courses {
  height: 686px;
  background: #f3f5f7;
  position: relative;
  overflow: hidden;
}
.courses__header {
  text-align: center;
  padding: 30px 0 34px 0;
  height: 32px;
  line-height: 32px;
}
.courses__item {
  display: inline-block;
  padding: 0 12px;
  margin: 0 12px;
  color: #141914;
  height: 32px;
  line-height: 32px;
}
.courses__item:first-child,
.courses__item:hover {
  color: #fbfbfb;
  background: #4d555d;
}
.courses__list {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.courses__list:after {
  content: "";
  display: block;
  font-size: 0px;
  line-height: 0px;
  clear: both;
  zoom: 1;
}
.courses__list .standard-course {
  width: 224px;
  height: 206px;
  float: left;
  margin: 0 20px 34px 0;
  box-shadow: 0 4px 8px rgba(7, 17, 27, 0.1);
  position: relative;
  background: #fff;
  background-image: url("../img/course-s-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.courses__list .standard-course:before {
  content: "";
  display: block;
  width: 98%;
  height: 3px;
  left: 1%;
  bottom: -5px;
  background: #fff;
  position: absolute;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(7, 17, 27, 0.2);
}
.courses__list .standard-course:after {
  content: "";
  display: block;
  width: 96%;
  height: 3px;
  left: 2%;
  bottom: -11px;
  background: #fff;
  position: absolute;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(7, 17, 27, 0.2);
}
.courses__list .standard-course:nth-child(5n) {
  margin-right: 0;
}
.courses__list .standard-course .cover {
  height: 90px;
}
.courses__list .standard-course .cover img {
  width: 100%;
}
.courses__list .standard-course .plan {
  position: absolute;
  top: 90px;
  width: 184px;
  padding: 16px 20px 0 20px;
  background-image: url("../img/course-s-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.courses__list .standard-course .plan__caption {
  font-size: 12px;
  color: #141914;
  height: 18px;
  line-height: 18px;
}
.courses__list .standard-course .plan__category {
  font-size: 12px;
  color: #959aa0;
  height: 34px;
  line-height: 34px;
}
.courses__list .standard-course .plan__times {
  padding-top: 10px;
  font-size: 12px;
  color: #959aa0;
  height: 34px;
  line-height: 34px;
}
.courses__list .standard-course .plan__person {
  float: right;
}
.courses__pageination {
  text-align: center;
  padding: 40px 0 60px 0;
  height: 32px;
  line-height: 32px;
}
.courses__page {
  display: inline-block;
  text-align: center;
  margin: 0 12px;
  color: #4d555d;
}
.courses__page_status_disabled {
  color: #d6dade;
}
.courses__page_status_current {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.courses__page_status_current:hover {
  color: #fefefe;
  background: #4d555d;
}
.courses .mm {
  color: #fefefe;
  background: #4d555d;
}
.footer {
  height: 98px;
  background: #000;
  position: relative;
  font-size: 12px;
}
.footer .footer-link {
  width: 1200px;
  margin: 0 auto;
  height: 12px;
  line-height: 12px;
  padding: 30px 0 16px 40px;
}
.footer .footer-link__item {
  display: block;
  margin-right: 30px;
  color: #fbfbfb;
  float: left;
}
.footer .footer-copy {
  height: 12px;
  line-height: 12px;
  width: 1200px;
  padding: 0 0 0 40px;
  margin: 0 auto;
  color: #959aa0;
}
.footer .footer-share {
  position: absolute;
  width: 150px;
  height: 32px;
  right: 40px;
  top: 34px;
}
.footer .footer-share__item {
  float: left;
  display: block;
  padding-left: 13px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  background-image: url("../img/icon-6-sprit_w32.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer .footer-share__item_i_1 {
  background-position: 4px 0px;
  background-size: 70%;
}
.footer .footer-share__item_i_2 {
  background-position: 4px -30px;
  background-size: 70%;
}
.footer .footer-share__item_i_3 {
  background-position: 4px -60px;
  background-size: 70%;
}
